replicaCount: 1

image:
  repository: alpine
  tag: "3.21"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: 40m
    memory: 32Mi
  requests:
    cpu: 5m
    memory: 16Mi
