apiVersion: v1
kind: Service
metadata:
  name: pipeline-orchestrator
spec:
  selector:
    app: pipeline-orchestrator
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  type: ClusterIP
