apiVersion: v1
kind: Service
metadata:
  name: payment-gateway
spec:
  selector:
    app: payment-gateway
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  type: ClusterIP
