replicaCount: 2

image:
  repository: kennethreitz/httpbin
  tag: "2.5.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 80m
    memory: 48Mi
  requests:
    cpu: 10m
    memory: 24Mi
