apiVersion: v1
kind: Service
metadata:
  name: customer-portal
spec:
  selector:
    app: customer-portal
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  type: ClusterIP
