replicaCount: 2

image:
  repository: nginx
  tag: "1.29-alpine"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 150m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
