replicaCount: 2

image:
  repository: postgres
  tag: "19-alpine"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5432

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 20m
    memory: 64Mi

env:
  - name: POSTGRES_PASSWORD
    value: "devpassword"
  - name: POSTGRES_DB
    value: "devdb"
