replicaCount: 2

image:
  repository: prom/node-exporter
  tag: "v1.10.2"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9100

resources:
  limits:
    cpu: 60m
    memory: 32Mi
  requests:
    cpu: 5m
    memory: 16Mi
