replicaCount: 1

image:
  repository: fluent/fluent-bit
  tag: "2.2-distroless"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 2020

resources:
  limits:
    cpu: 50m
    memory: 64Mi
  requests:
    cpu: 10m
    memory: 32Mi
