replicaCount: 2

image:
  repository: fluent/fluent-bit
  tag: "4.2"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 2020

resources:
  limits:
    cpu: 100m
    memory: 64Mi
  requests:
    cpu: 10m
    memory: 32Mi
